a{
  color: white;
}
body{
  background-color: black;
  font-family: "Dancing Script";
  border: 2px;

}
@font-face {
  font-family: "Dancing Script";
  src:  url("../fuente/DancingScript.otf");
}

img{
  box-shadow: 2px 2px 2px 2px #02010a;
}

#paisajelink:link{
  text-decoration: none;
}

#contenedor{
  position: relative;
 animation-name: animacion1;
 animation-duration: 4s;

}
@keyframes animacion1{
  0%{ margin-top:  150%;}
  /*25%{ top: 525px;}*/
  50%{ margin-top: -5%;}
  /*75%{ top: 175px;}*/
  100%{ top: 0%;}
}

@media all and (min-width:901px){
    header{
       background-color: #5b7989;
       width: 100%;
       height: 100px;
       margin: 0px;
       border-radius: 10px 10px 0 0;
    }

    div#gobal{
      width: 100%;
      overflow: hidden;
    }

    div#titu{
      order: 1;
      color: white;
      font-size: 45px;
      font-family: "Dancing Script";
      text-shadow: 2px 2px 2px #02010a;
      width: 65%;
      margin: 5px;
      float: left;
      display: inline;
    }

    P#titulos{
     margin: 0;
    }

    div#index{
      font-size: 20px;
      display: inline-block;
      width: 60px;
      display: inline;
      margin-top: 55px;
    }

    div#paisaje{
      width: 70px;
      display: inline;
      margin-top: 50px;
          font-size: 25px;
    }

    div#retratos{
      margin-right: 5px;
      width: 40%;
      display:inline;
      margin-top: 50px;
      font-size: 25px;

    }
    a{ margin-top: 60px;}
    div#ali{
      display: inline-grid;
      width: 30%;
      height: 40px;
    }
    #imgn2{
      text-align: center;
      margin: 5% 5% 5% 5%;
    }
    #imagen{
      text-align: center;
      margin: 5% 5% 5% 5%;
      filter: blur(10px);
    }
    #imgen2,#imagn,#imgn3{
      text-align: center;
      margin: 5% 5% 5% 5%;
      filter: grayscale(100%);
    }
    #imgen3{
      text-align: center;
      margin: 5% 5% 5% 5%;
      filter: sepia(90%);
    }
    /*linea1*/
    #linea1{
      width: 100%;
      height: 210px;
      background: #d5c75f;
    }
    #imag1_izq{
      order: 1;
      display: block;
      float: left;
      width: 33%;
      height: 100%;
      background: #d5c75f;
    }
    #imag1_der{
      float: left;
      width: 34%;
      height: 100%;
      background: #d5c75f;
    }
    #imag1_centro{
      float: left;
      width: 33%;
      height: 100%;
      background: #d5c75f;
    }
    /*linea2*/
    #linea2{
      width: 100%;
      height: 210px;
    }
    #imag2_izq{
      float: left;
      width: 33%;
      height: 100%;
      background: #d5c75f;
    }
     #imag2_centro{
       float: left;
       width: 33%;
       height: 100%;
       background: #d5c75f;
     }
     #imag2_der{
       float: left;
       width: 34%;
       height: 100%;
       background: #d5c75f;
     }
     /*pie de pagina*/
    #pie{
        display: flex;
        width: 100%;
        height: 100px;
        background-color:  #C6d5c5;
        border-radius:  0px 0px 10px 10px;
      }
      #ticont{
            width: 100%;
            font-size: 25px;
            font-weight: bolder;
            text-align: center;
      }
    /*contacto*/
    #contacto{
      float: left;
       height: 100%;
       width: 25%;
      /* border: 2px solid red;*/
    }
    #cont1{
      width: 100%;
      font-size: 15px;
      text-align: center;
    }
    #conta{
      width: 100%;
      font-size: 15px;
      text-align: center;
    }
    /* redes soliales*/
    #cont2{
      width: 100%;
      font-size: 15px;
      /*text-align: center;
      justify-content: center;*/
      display: flex;
    }
    #contre{/* */
     width: 40%;
     float: left;
     justify-content: flex-end;
    }
    #contre2{
      width: 60%;
      float: left;
      text-align: left;
    }
    #rede{
      width: 20px;
      height: 20px;
      position: relative;
     float: right;
    }
    #nomb{
      position: relative;
      float:  left;
    }
    #cont3{
      width: 100%;
      font-size: 15px;
      text-align: center;
      float: left;
    }
    /*teminos*/
    #teminos{
       float: left;
       width: 25%;
       height: 100%;
    }
    #derecho{
       float: left;
       width: 25%;
    }
    #redes{
      float: left;
       width: 25%;
    }
    #rede{
      width: 20px;
      height: 20px;
      position: relative;
      text-align: center;
    }
    #rede2{
      width: 60%;
      position: relative;
      float: left;
    }
  }
  /*diseño para movil*/

@media all and (max-width :900px)  {

      header{
         background-color: #5b7989;
         width: 100%;
         height: 150px;
         margin: 0px;
         border-radius: 10px 10px 0 0;
      }
      div#ali{
        margin: auto;
      }
    #gobal{
      width: 100%;
      height: 45%;

    }
    #titu{
      width: 100%;
    }

    #titulos{
      width: 100%;
      text-align: center;
      color: white;
      text-shadow: 2px 2px 2px #02010a;
      font-size: 45px;
    }

    p#titulos{
      margin: 0;
    }
    #index{
      width: 50px;
      display: flex;
      float: left;
      font-size: 20px;

    }
    #paisaje{
      width: 70px;
      display: flex;
      float: left;
      font-size: 20px;
    }
    #retratos{
      width: 50px;
      flex: auto;
      float: left;
      font-size: 20px;
    }
    #ali{
      width: 30%;
      height: 35px;
      float: left;
    }
    img{
      height: auto;
      width: 80%;
    }
    #imagen{
      text-align: center;
      margin: 5% 5% 5% 5%;
      filter: blur(10px);
      height: 80%;
      margin: 10%;
    }
    #imgen2,#imagn,#imgn3{
      text-align: center;
      filter: grayscale(100%);
      height: 80%;
      margin: 10%;
    }
    #imgen3{
      text-align: center;
      margin: 5% 5% 5% 5%;
      filter: sepia(90%);
      height: 80%;
      margin: 10%;
    }
    #imgn2{
      text-align: center;
      height: 80%;
      margin: 10%;
    }
    /*linea1*/
    #linea1{
      width: 100%;
      background: #d5c75f;
      display: inline-block;
    }
    #imag1_izq{
      order: 1;
      width: 100%;
      height: 30%;
      background: #d5c75f;
    }
    #imag1_der{
      order: 2;
      width: 100%;
      height: 30%;
      background: #d5c75f;
    }
    #imag1_centro{
      order: 3;
      width: 100%;
      height: 30%;
      background: #d5c75f;
    }
    /*linea2*/
    #linea2{
      display: inline-block;
      width: 100%;
      background: #d5c75f;
    }
    #imag2_izq{
      order: 1;
      width: 100%;
      height: 30%;
      background: #d5c75f;
    }
     #imag2_centro{
       order: 2;
       width: 100%;
       height: 30%;
       background: #d5c75f;
     }
     #imag2_der{
       order: 3;
       width: 100%;
       height: 30%;
       background: #d5c75f;
     }
    /**/
    #pie{
      width: 100%;
      height: 500px;
      display: inline-block;
      background-color:  #C6d5c5;
      border-radius:  0px 0px 10px 10px;
    }
    #cont1,#conta,#cont3{
      font-size: 16px;
      font-weight: bolder;
      margin-left: 20px;
    }
    #spacio{
      height: 20px;
    }
    #contacto{
      order: 1;
      width: 100%;
      text-align: left;

      }
    #ticont{
      order : 2;
      width: 100%;
      text-align: center;
      font-size: 35px;
      font-weight: bolder;
      text-align: left;
      margin-left: 20px;

      }
      #tercon{
      text-align: left;
      font-size: 16px;
      font-weight: bolder;
      margin-left: 20px;
      }
      #redes{
        order:  3;
        width: 100%;
        text-align: left;
        display: inline-block;

      }
      #cont2{
        width: 100%;
        display: inline-block;
        font-size: 16px;
        font-weight: bolder;
        margin-left: 20px;
      }
      #contre{/* */
       width: 5%;
       float: left;
       justify-content: flex-end;
      }
      #contre2{
        width: 55%;
        float: left;
        text-align: left;
      }
      #rede{
        width: 20px;
        height: 16px;
        position: relative;
        text-align: left;
        float: left;

      }

      #derecho{
         order : 4 ;
         width: 100%;
         text-align: left;
         display: inline-block;


  }

/*
@media all and (max-width : 520px){
    header{
       background-color: #5b7989;
       width: 100%;
       height: 150px;
       margin: 0px;
       border-radius: 10px 10px 0 0;
    }
    div#ali{
      width: 25%;
      height: 40px;
    }
  }*/
