a{
  color: white;
}
body{
  background-color: #02010A;
  font-family: "Dancing Script";
  border: 2px;

}
#contenedor{
  width: 900px;
  margin: auto;
}
@font-face {
  font-family: "Dancing Script";
  src:  url("../fuente/DancingScript.otf");
}
div#imag1{
  width: 100%;
  height: 30%;
  background-color:  #82c3a6;
}
#imgen{
  width: 70%;
  margin: 10% 10% 10% 10%;
  text-align: center;
  text-shadow: 2px 2px 2px #02010a;
  box-shadow: 2px 2px 2px 2px #02010a;
}
#imgen2{
  display: block;
  width: 70%;
  height: 236px;e
  box-shadow:  2px 2px 2px 2px #02010a;
  margin:10% 6% 12% 15%;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #02010a;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;

}
#imgen2:hover{
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
#imgen3{
  display: block;
  width: 70%;
  height: 236px;
  box-shadow: 2px 2px 2px 2px #02010a;
  margin: 10% 6% 12% 15%;
  text-align: center;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
/*  width: 80%*/
}
#imgen3:hover{
  transform: translate(5px, -20px);
  -ms-transform: translate(5px, -20px); /* IE 9 */
  -webkit-transform: translate(5px, -20px); /* Safari y Chrome */
  -moz-transform: translate(5px, -20px); /* Firefox */
}
@media all and (min-width:900px){
  header{
     background-color: #5b7989;
     width: 100%;
     height: 100px;
     margin: 0px;
     border-radius: 10px 10px 0 0;
  }

  div#gobal{
    width: 100%;
    overflow: hidden;
  }

  div#titu{
    order: 1;
    color: white;
    font-size: 45px;
    font-family: "Dancing Script";
    text-shadow: 2px 2px 2px #02010a;
    width: 65%;
    margin: 5px;
    float: left;
    display: inline;
  }

  P#titulos{
   margin: 0;
  }

  #pagindex:link{
    text-decoration: none;
  }

  div#index{
    font-size: 20px;
    display: inline-block;
    width: 60px;
    display: inline;
    margin-top: 55px;

  }

  div#paisaje{
    width: 70px;
    display: inline;
    margin-top: 50px;
        font-size: 25px;
  }

  div#retratos{
    margin-right: 5px;
    width: 40%;
    display:inline;
    margin-top: 50px;
    font-size: 25px;

  }
  a{ margin-top: 60px;}
  div#ali{
    display: inline-grid;
    width: 10px;
    height: 40px;
  }
  div#img_izq{
    width: 50%;
    height: 66%;
    background-color:  #d5c75f;
    float: left;
    /*position: static;
    /*display: block;*/
    }

  div#img_der{
      width: 50%;
      height: 66%;
      background-color:  #d5c75f;
      float: right;
      }
  #pie{
      display: flex;
      width: 100%;
      height: 100px;
      background-color:  #C6d5c5;
      border-radius:  0px 0px 10px 10px;
    }
    #ticont{
          width: 100%;
          font-size: 25px;
          font-weight: bolder;
          text-align: center;
    }
  /*contacto*/
  #contacto{
    float: left;
     height: 100%;
     width: 25%;
    /* border: 2px solid red;*/
  }
  #cont1{
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  #conta{
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  /* redes soliales*/
  #cont2{
    width: 100%;
    font-size: 15px;
    /*text-align: center;
    justify-content: center;*/
    display: flex;
  }
  #contre{/* */
   width: 40%;
   float: left;
   justify-content: flex-end;
  }
  #contre2{
    width: 60%;
    float: left;
    text-align: left;
  }
  #rede{
    width: 20px;
    height: 20px;
    position: relative;
   float: right;
  }
  #nomb{
    position: relative;
    float:  left;
  }
  #cont3{
    width: 100%;
    font-size: 15px;
    text-align: center;
    float: left;
  }
  /*teminos*/
  #teminos{
     float: left;
     width: 25%;
     height: 100%;
  }
  #derecho{
     float: left;
     width: 25%;
  }
  #redes{
    float: left;
     width: 25%;
  }
  #rede{
    width: 20px;
    height: 20px;
    position: relative;
    text-align: center;
  }
  #rede2{
    width: 60%;
    position: relative;
    float: left;
  }
}
/*diseño para movil*/


@media all and (max-width :900px)  {
  header{
     background-color: #5b7989;
     width: 100%;
     height: 100px;
     margin: 0px;
     border-radius: 10px 10px 0 0;
  }
  #gobal{
    width: 100%;
    height: 45%;

  }
  #titu{
    width: 100%;
  }

  #titulos{
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #02010a;
    font-size: 45px;
  }

  p#titulos{
    margin: 0;
  }
  #index{
    width: 50px;
    display: flex;
    float: left;
    font-size: 20px;

  }
  #paisaje{
    width: 70px;
    display: flex;
    float: left;
    font-size: 20px;
  }
  #retratos{
    width: 50px;
    flex: auto;
    float: left;
    font-size: 20px;
  }
  #ali{
    width: 35%;
    height: 35px;
    float: left;
  }


  div#img_izq{
    order: 1;
    width: 100%;
    height: 69%;
    background-color:  #d5c75f;
    float: left;
    /*position: static;
    /*display: block;*/
    }

    div#img_der{
      order: 2;
      width: 100%;
      height: 66%;
      background-color:  #d5c75f;
      float: right;
      }

  #pie{
    width: 100%;
    height: 500px;
    display: inline-block;
    background-color:  #C6d5c5;
    border-radius:  0px 0px 10px 10px;
  }
  #cont1,#conta,#cont3{
    font-size: 16px;
    font-weight: bolder;
  }
  #spacio{
    height: 20px;
  }
  #contacto{
    order: 1;
    width: 100%;
    text-align: center;

    }
  #ticont{
    order : 2;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;

    }
    #tercon{
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    }
    #redes{
      order:  3;
      width: 100%;
      text-align: center;
      display: inline-block;
    }
    #cont2{
      width: 100%;
      display: inline-block;
      font-size: 16px;
      font-weight: bolder;
    }
    #contre{/* */
     width: 45%;
     float: left;
     justify-content: flex-end;
    }
    #contre2{
      width: 55%;
      float: left;
      text-align: left;
    }
    #rede{
      width: 20px;
      height: 16px;
      position: relative;
      text-align: left;
      float: right;
    }

    #derecho{
       order : 4 ;
       width: 100%;
       text-align: center;
       display: inline-block;
    }

}

@media all and (max-width : 520px){
  header{
     background-color: #5b7989;
     width: 100%;
     height: 150px;
     margin: 0px;
     border-radius: 10px 10px 0 0;
  }
}
