header
{
   background-color: #5b7989;
   width: 100%;
   height: 25%;
   margin: 1px;
   border-radius: 10px 10px 0 0;
}
div#gobal
{
  width: 100%;
  height: 50px
  border: 2px solid blue;
  font-size: 30px;
  font-family: "Dancing Script";
  overflow: hidden;
}
div#titu{
  order: 1;
  color: white;
  font-size: 30px;
  font-family: "Dancing Script";
  text-shadow: 2px 2px 2px #02010a;
  width: 60%;
  margin: 5px;
  border: 2px solid red;
  float: left;
  display: inline;
}
div#index{
  display: inline-block;
  order: 2;
  float: right;
  width: 30%;
  border:  2px solid white;
  display: inline;
}
div#paisaje{
  float: right;
  width: 60%;
  border:  2px solid white;
}
div#retratos{
  float: right;
    border:  2px solid white;
  width: 40%;
}


a{
  color: white;
}

body{
  background-color: black;
  font-family: "Dancing Script";
  border: 2px;

}
@font-face {
  font-family: "Dancing Script";
  src:  url("../fuente/DancingScript.otf");
}


div#imag1{
  width: 700px;
  height: 400px;
}
