header
{
   background-color: #5b7989;
   width: 100%;
   height: 100px;
   margin: 0px;
   border-radius: 10px 10px 0 0;
}
div#gobal
{

  width: 100%;
  height: 100px;
    font-family: "Dancing Script";
  overflow: hidden;
}
div#titu{
  margin-top: 25px;
  order: 1;
  color: white;
  font-size: 45px;
  font-family: "Dancing Script";
  text-shadow: 2px 2px 2px #02010a;
  width: 60%;
  margin: 5px;
  float: left;
  display: inline;
}
div#index{
  font-size: 30px;
  display: inline-block;
  order: 2;
  float: right;
  width: 30%;
  display: inline;

}
div#paisaje{
  float: right;
  width: 60%;

}
div#retratos{
  float: right;

  width: 40%;
}


a{
  color: white;
}
body{
  background-color: black;
  font-family: "Dancing Script";
  border: 2px;

}
@font-face {
  font-family: "Dancing Script";
  src:  url("../fuente/DancingScript.otf");
}
#linea1{
  width: 100%;
}


#imag1_izq{
  float: left;
  width: 30%;
}
 #imag1_centro{
   float: left;
   width: 30%
 }
 #imag1_der{
   float: left;
   width: 30%;
 }
 #linea2{
   width: 100%;
 }


 #imag2_izq{
   float: left;
   width: 30%;
 }
  #imag2_centro{
    float: left;
    width: 30%
  }
  #imag2_der{
    float: left;
    width: 30%;
  }
